---
---

@import "{{ site.theme }}";
a:hover {
  font-weight: inherit; 
}

html {
    font-size: 18px; // originally 16px
}

body {
    font-size: 18px; // originally 16px
}

p {
    font-size: 18px; // originally 16px
}

.wrapper {
  width:1060px; // originally 860px
}

section {
  width:700px; // originally 500px
}
