---
---

@import "{{ site.theme }}";
a:hover {
  font-weight: inherit; 
}

html {
    font-size: 18px; // originally 16px
}

body {
    font-size: 18px; // originally 16px
}

p {
    font-size: 18px; // originally 16px
}

.wrapper {
  width:1210px; // originally 860px
}

header {
  width:320px; // originally 270px
}

section {
  width:800px; // originally 500px
}
