---
---

@import "{{ site.theme }}";
a:hover {
  font-weight: inherit; 
}

html {
    font-size: 18px; // originally 16px
}

body {
    font-size: 18px; // originally 16px
}

p {
    font-size: 18px; // originally 16px
}
